{% extends 'principal.html.twig' %}

{% block content %}

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

    <div id="map" style="height:100%;"></div>

{% endblock %}

{% block js %}

    <script src="{{asset('js/mapa.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO1QxdMtOQW1nMGLrFn1o-CrMLitzmkuM&callback=initMap"
    async defer></script>

{% endblock %}