<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://market.enonic.com/vendors/selbekk/io.selbekk.favicon/_/attachment/inline/51f8d6ef-c7db-47bd-aa5d-8a6e3da1d67e:2df7625fb6fd508cb0874730d8f812d52670aff1/favicon_cleaned.svg">

    <title>Sistema de Reportes</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
    <link href="{{ asset('css/estilos.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-lkgQ9dbCUIEmD/snbBWVxXIIKujePPzSkLp4oc204fayDp2eA0I+xkhPBZUaz6G4" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>

  <body style="background-color:#f2f2f2">

    <nav class="navbar navbar-expand-md fixed-top" style="background-color:#FFFFFF;box-shadow:10px 0px 5px grey;">
      <img src=""/>
      <h4>REPORTES</h2>
      <div style="padding-left:20px;" class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!--<a href="#" class="btn btn-md botonVerde" id="abrirTabla" style="background-color:none;color:black;border-radius: 12px;border: 2px solid #000;"><i class="fa fa-align-justify" aria-hidden="true"></i>
 Ver Tabla</a>-->
        </ul>
        <form  action="" class="form-inline" method="post">
        <div id="filtros" style="padding-right:40px;color:black;">
          <strong>Fecha:&nbsp;</strong>
          <input class="filtrar form-control-sm" type="text" id="fecha" name="fecha" style="width:100px;text-align:center;height:100%;">
        </div>
          <a class="btn btn-md botonVerde" style="background-color:none;color:black;border-radius: 12px;border: 2px solid #000;border-radius: 12px;" href=""><i class="fas fa-sign-out-alt"></i>
 Cerrar Sesión</a>
        </form>
      </div>
    </nav>

    {% block content %}
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    

    {% block js %}{% endblock %}

  </body>
</html>