body {
  padding-top: 3.6rem;
}

body,html{
	height:100%;
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #f2f1f0; /* #2aa49b  verde */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 4rem; /* Place content 60px from the top */
    box-shadow:10px 10px 10px 10px grey;
}

/* El SideNav de la Tabla*/
.sidenavTabla {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #f2f1f0; /* #2aa49b  verde */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 4rem; /* Place content 60px from the top */
    box-shadow:10px 10px 10px 10px grey;
}
.contentTabla {
    padding-left:3rem;
    padding-right:3rem;
}

/* Cuando clickeo en un marcador, llamo al "sidenav-fadein" y a "mapa-achicar" para que hagan las transiciones
en 1 segundo de forma simultanea, y además elimino las clases "sidenav-fadeout" y "mapa-agrandar" que pudieron haberse agregado
anteriormente. Cuando cierro el menu, llamo "sidenav-fadein" y a "mapa-agrandar" y elimino las clases "sidenav-fadein" y "mapa-achicar".*/
/*COMIENZO CLASES DE ANIMACION DE MENU */
.sidenav-fadein{
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width:400px;
}

.sidenav-fadeout{
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width:0px;
}

.mapa-achicar{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-right:400px;
}

.mapa-agrandar{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-right:0px;
}
/* FIN CLASES DE ANIMACION DE MENU */

/*COMIENZO CLASES DE ANIMACION DE TABLA */
.tabla-fadein{
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width:100%
}

.mapa-desaparecer{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width:0;
}

.tabla-fadeout{
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width:0;
}

.mapa-aparecer{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width:100%;
}
/* FIN CLASES DE ANIMACION DE TABLA */

/* COMIENZO CLASES DE SIDENAV */
.sidenav a:hover {
    color: #f1f1f1;
}

.nav-link#pills-datos-tab {
    border:2px solid #b0bdda!important;
    border-radius: 12px 0px 0px 12px!important;
    color:#b0bdda;
}
.nav-link#pills-notas-tab {
    border:2px solid #b0bdda!important;
    border-radius: 0px 12px 12px 0px!important;
    color:#b0bdda;
}

.nav-link.active {
    background-color:#b0bdda!important;
    color:white!important;
}

/* FIN CLASES DE SIDENAV */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

/*ESTILOS DATATABLE*/

.container-fluid{
    padding-right:0px !important;
    padding-left:0px !important;
}

/*.dataTables_info{
    font-size:14px !important;
}*/

.dataTables_wrapper .dataTables_paginate{
    padding-top:0.755em!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  background:none!important;
  color: black!important;
  border-radius:5px!important;
  border: 2px solid #b0bdda!important;
  padding: 0px 5px 0px 5px!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #b0bdda!important;
  color: white!important;
  border-radius:5px!important;
  border:2px solid #b0bdda!important;
}
 
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: #b0bdda!important;
  color: white!important;
} 

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover{
    background: none!important;
}

.page-item.active .page-link{
    background-color: #343a40 !important;
    color:white !important;
}
.page-item.disabled .page-link{
    background-color:#e6e6e6 !important;
}

.page-link{
    position: relative !important;

    display: block !important;

    padding: 0.5rem 0.75rem;

    margin-left: -1px !important;

    line-height: 1.25 !important;

    color: #000000 !important;

    background-color: #fff ;

    border: 1px solid #ddd !important;

    border-top-color: rgb(221, 221, 221) !important;
    border-right-color: rgb(221, 221, 221) !important;
    border-bottom-color: rgb(221, 221, 221) !important;
    border-left-color: rgb(221, 221, 221) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #b0bdda!important;
    color: white!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #b0bdda!important;
    color: white!important;
    border: 2px solid #b0bdda!important;
}

.botonVerde:hover{
    background-color:white!important;
    color:black!important;
}

.form-control{
    box-shadow:none!important;
    border-color:#b0bdda!important;
}
.form-control:focus{
    box-shadow:0px 0px 5px 2px #b0bdda!important
}

.ui-datepicker-header{
    background-color:#b0bdda!important;
    color:#FFFFFF!important;
}